{{#if flashMsg}}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert {{flashMsg.styleMsg}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{i18n 'attendance'}}</strong> {{flashMsg.txtMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'list'}}}</div>
  <div class="panel-body">
    <table class="table table-hover table-striped styleTableICT">
      <thead>
        <tr>
          <th>Horário Atendimento</th>
          <th>Tipo</th>
          <th>Paciente</th> <!--  coloar todos os dados juntos nessa unica coluna -->
          <th>Enfermeira</th>
          <th>Responsável pela medicaçāo</th>
          <th>Motivo</th>
          <th>Detalhamento</th>
        </tr>
      </thead>
      <tbody>
        {{#each attendanceCtrl}}
          <tr>
            <td>Data Início</td>
            <td>Data Fim</td>
            <td>Aluno</td>
            <td>Medicamento/Obs</td>
            <td>Responsável pela medicaçāo</td>
            <td>Hora 1</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
