<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'list'}}}</div>
  <div class="panel-body">
    <table class="table table-hover table-striped styleTableICT">
      <thead>
        <tr>
          <th>Atendimento Nº</th>
          <th>Aluno</th>
          <th>Data</th>
          <th>Hora 1</th>
          <th>Hora 2</th>
          <th>Hora 3</th>
          <th>Hora 4</th>
        </tr>
      </thead>
      <tbody>
        {{#each scheduleControlled}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
